:root {
  --primary-color: #2D5757;   /* Couleur foncée */
  --secondary-color: #F7EDE2; /* Couleur claire */
  --btn-color: #2D5757;
  --btn-text-color: #F7EDE2;
  --text-light: #F7EDE2;
  --text-dark: #2D5757;
  --bg-light: #F7EDE2;
  --bg-dark: #2D5757;
}